<div class="m-2">
  <h1>Groups</h1>
  <ul class="">
    <button data-bs-toggle="modal" data-bs-target="#exampleModal" ng-show="true" class="btn btn-success">Create group</button>

      <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create group</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <input ng-model="groupName" placeholder="Enter group name" type="text">
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" ng-click="createGroup()" data-bs-dismiss="modal" class="btn btn-primary">Create</button>
          </div>
      </div>
      </div>
    </div>
    <li class="card" ng-repeat="group in groups">
      <div class="card-body d-flex justify-content-between">
        {{group.name}}
        <a href="#!groups/{{group.id}}" class="btn btn-danger">View group</a>
      </div>
    </li>
  </ul>
</div>