<div class="m-2">
  <div class="d-flex justify-content-between">
    <h1>Groups</h1>
    <button data-bs-toggle="modal" data-bs-target="#createGroupModal" ng-show="true" class="mt-3 btn btn-success">Create group</button>
  </div>
  <h5 style="text-align: center;" class="mt-3" ng-show="groups.length == 0">No Groups Found</h5>

    <!-- Modal -->
  <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createGroupModalLabel">Create group</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form name="createGroupForm">
              <input ng-model="groupName" name="groupName" required placeholder="Enter group name" type="text" minlength="4" maxlength="20">
              <div ng-messages="createGroupForm.groupName.$error" class="invalid mt-1" role="alert">
                <span ng-show="createGroupForm.groupName.$touched" ng-message="required">Group name is required!</span>
                <span ng-message="minlength">Minimum 4 characters required!</span>
                <span ng-message="maxlength">Maximum 20 characters required!</span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button ng-disabled="createGroupForm.$invalid" type="button" ng-click="createGroup()" data-bs-dismiss="modal" class="btn btn-primary">Create</button>
          </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <li class="card mt-2" ng-repeat="group in groups">
      <div class="card-body d-flex justify-content-between">
        {{ group.name }}
        <a href="#!groups/{{ group.id }}" class="btn btn-danger">View group</a>
      </div>
    </li>
  </div>
</div>
