<div  class="m-2">
    <div class=" m-2 d-flex justify-content-between">
        <h2>{{group.name}}</h2>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" ng-show="user.id==group.created_by" class="btn btn-success">Add member</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input ng-model="addEmail" type="email">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" ng-click="addMember()" data-bs-dismiss="modal" class="btn btn-primary">Add</button>
            </div>
        </div>
        </div>
    </div>
    <ul class="">
        <li class="card my-2" ng-repeat="member in group.members">
          <div class="card-body row">
            <p class="col-4">{{member.user.first_name}} {{member.user.last_name}}</p>
            <p class=" col-4 text-secondary">{{member.user.email}}</p>
            <div class="col-4">
              <button disabled ng-show="user.id==group.created_by" class="btn btn-danger">Remove</button>
            </div>

          </div>
        </li>
      </ul>
</div>