<div  class="m-2">
    <div class=" m-2 d-flex justify-content-between">
        <h2>{{group.name}}</h2>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" ng-show="true" class="btn btn-success">Add member</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input ng-model="addEmail" name="email">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" ng-click="addMember()" class="btn btn-primary">Add</button>
            </div>
        </div>
        </div>
    </div>
    <ul class="">
      
        <li class="card" ng-repeat="member in group.members">
          <div class="card-body d-flex align-center justify-content-around">
            <p>{{member.user.first_name}} {{member.user.last_name}}</p>
            <p class="text-secondary mx-2">{{member.user.email}}</p>
            <button disabled ng-show="true" class="btn btn-danger">Remove</button>

          </div>
        </li>
      </ul>
</div>