<div  class="m-2 back-univ">
    <div class=" m-2 d-flex justify-content-between">
        <h2>{{group.name}}</h2>
        <button data-bs-toggle="modal" data-bs-target="#addMemberModal" ng-show="user.id==group.created_by" class="btn btn-success">Add member</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addMemberModalLabel">Add member</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form name="addMemberForm">
                <input ng-model="addEmail" required name="email" placeholder="Enter email address" type="email">
                <div ng-messages="addMemberForm.email.$error" class="invalid mt-1" role="alert">
                  <span ng-show="addMemberForm.email.$touched" ng-message="required">Email is required!</span>
                  <span ng-message="email">Not a valid email address!</span>
              </div>
              </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" ng-click="createMember()" data-bs-dismiss="modal" class="btn btn-primary">Add</button>
            </div>
        </div>
        </div>
    </div>
    <ul class="">
        <li class="card my-2" ng-repeat="member in group.members">
          <div class="card-body row">
            <p class="col-4">{{member.user.first_name}} {{member.user.last_name}}</p>
            <p class=" col-4 text-secondary">{{member.user.email}}</p>
            <div class="col-4">
              <button disabled ng-show="user.id==group.created_by" class="btn btn-danger">Remove</button>
            </div>
          </div>
        </li>
      </ul>
</div>
